body h3 {
    text-align: center;
}

#grid {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

.box {
    height: 20px;
    width: 20px;
    background-color: orange;
}

#start_button {
    width: 150px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size : 20px;
}